[submodule "services/service_drpc_gov_ua"]
	path = services/service_drpc_gov_ua
	url = git@github.com:kostyll/service_drpc_gov_ua.git
[submodule "services/service_google"]
	path = services/service_google
	url = git@github.com:kostyll/service_google.git
